<div id="taskbar" class="container-fluid">
    <div class="fl-row">
        <div id="buttonbar" class="btn-group button-box">
            <button type="button" class="btn btn-primary" (click)="zoomIn()">
                <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-primary" (click)="zoomOut()">
                <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="form-inline">
            <div class="form-group">
                <label class="control-label">Cycle Name</label>
                <input type="text" class="form-control input-lg" [(ngModel)]="cycle.name">
            </div>
        </div>
    </div>
</div>