<table>
    <th>Task name</th>
    <th>duration</th>
    <th>start</th>
    <th>finish</th>
    <th>slack</th>
    <tr *ngFor="let task of cycle.tasks">
        <td>
            <editable [type]="'text'" [(value)]="task.name"></editable>
        </td>
        <td>
            <editable [type]="'number'" [(value)]="task.duration"></editable>
        </td>
        <td><span>{{task.earlyStart}}</span></td>
        <td><span>{{task.earlyFinish}}</span></td>
        <td><span>{{task.slack}}</span></td>
    </tr>
</table>