<table #tasktable class="table table-bordered">
    <thead class="thead-default">
        <tr class="tasktableheader">
            <th class="text-left">#</th>
            <th class="text-left">Task name</th>
            <th class="text-center">duration</th>
            <th class="text-center">start</th>
            <th class="text-center">finish</th>
            <th class="text-center">slack</th>
        </tr>
    </thead>
    <tbody>
        <tr class="tasktablerow" *ngFor="let task of cycle.tasks">
            <th class="text-left">{{task.visual.ind+1}}</th>
            <td [(gcContentEditableModel)]="task.name" class="text-left"></td>
            <td [(gcContentEditableModel)]="task.duration" type="number" class="text-center"></td>
            <td class="text-center">{{task.earlyStart}}</td>
            <td class="text-center">{{task.earlyFinish}}</td>
            <td class="text-center">{{task.slack}}</td>
        </tr>
    </tbody>
</table>